<h1>Sign In</h1>

<p>
  No account yet? <%= link_to "Sign up!", signup_path %>
</p>

<%= form_with(url: session_path) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true, required: true %>

  <%= f.label :password %>
  <%= f.password_field :password, required: true %>
  
  <%= f.submit "Sign In" %>

<% end %>