<%= form_for( movie ) do |f| %>

  <%= render "shared/errors", object: movie %>



  <div>
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true %>
  </div>  
  
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 7 %>
  </div>
  
  <div>
    <%= f.label :rating %>
    <%= f.select :rating, Movie::RATINGS, prompt: "Pick one" %>
  </div>

  <div>
    <%= f.label :director %>
    <%= f.text_field :director %>
  </div>

  <div>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div>
    <%= f.label :image_file_name %>
    <%= f.text_field :image_file_name %>
  </div>

  <div>
    <%= f.label :released_on %>
    <%= f.date_field :released_on, {class: "date" }%>
  </div>
  
  <div>
    <%= f.label :total_gross %>
    <%= f.number_field :total_gross %>
  </div>

  <div>
    <%= f.submit %>
  </div>    

<% end %>