<% @movie.each do |movie|%>
  <section class="movie">
    <div class="summary">
      <h2><%= link_to movie.title, movie_path(movie) %></h2> 
      <h3><%= total_gross(movie) %></h3>
        <span class="stars">
          <%= render "shared/stars", percent: movie.average_stars_as_percent %>
        </span>
      <p><%= truncate(movie.description, lenght: 150, separator: ' ') %></p>
      <p><%= year_of(movie) %></p>
    </div>
  </section>
<% end %>

<% if current_user_admin? %>
  <section>
    <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>
<% end %>
