<section class="details">
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2><%= year_of(@movie) %> &bull; <%= @movie.rating %></h2>
    <div class="reviews">
      <%= render "shared/stars", percent: @movie.average_stars_as_percent %>
      <%= link_to pluralize(@movie.reviews.size, 'review'), movie_reviews_path(@movie) %>
    </div>
    <p><%= @movie.description %></p>
    <table>
      <tr>
        <th> Total Gross: </th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>
    <%= link_to "Write review", new_movie_review_path(@movie), class: "review" %>
  </div>
</section>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    <%= link_to "Delete", movie_path(@movie), class: "button",
                          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </section>
<% end %>

    
 
