<h1><%= pluralize(@users.size, "User") %></h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %> created
      <%= time_ago_in_words(user.created_at) %> ago 
    </li>
  <% end %>
</ul>