<section class="user">
  <h1><%= @user.name %></h1>
  <h2><%= @user.username %></h2>
  <h2><%= mail_to(@user.email) %></h2>
  <h3>Member since</h3>
  <p>
    <%= @user.created_at.strftime("%B %Y")%>
  </p>
  <% if current_user?(@user) %>
    <div class="actions">
      <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
      <%= link_to "Delete Account", @user, class: "button delete", 
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
</section>