<h1>Review for <%= link_to @movie.title, @movie %></h1>
<ul class="review" >
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
    <p>
      <%= review.name %>
      <span class="date">
        <%= time_ago_in_words(review.created_at) %> ago
      </span>
    </p>
    <p><%= review.comment %></p>
    </li>
  <% end %>
</ul>