<header>
  <nav>
      <%= link_to image_tag("logo.png"), root_path %>
    <ul class="left" >
      <li>
        <%= link_to "All movies", movies_path %>
      </li>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
        <li>
          <%= link_to "Account Settings", edit_user_path(current_user) %>
        </li>
        <li>
          <%= link_to "Sign Out", session_path,
                      data: { turbo_method: :delete }, class: "button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign in", signin_path, class: "button" %>
        </li>
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>